#meme-text > h2 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 26px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#meme-text > img {
  width: 100%;
  aspect-ratio: 4/3;
}
